﻿
@{
    ViewData["Title"] = "Spots";
}

<h1>台北市景點</h1>
<div class="row">
    <div class="col-3">
        <select class="form-select" id="pageSize">
            <option value="1">每頁1筆</option>
            <option value="3">每頁3筆</option>
            <option value="5">每頁5筆</option>
            <option value="7">每頁7筆</option>
            <option value="9">每頁9筆</option>
        </select>
    </div>
    <div class="col-6 align-content-center">
        <div class="row mb-3">
            <div class="col-8">
                <nav>
                    <ul class="pagination" id="ulPaging"></ul>
                </nav>
            </div>
            <div class="col-4">
                <select class="form-select" id="sortType">
                    <option value="asc">景點編號升冪</option>
                    <option value="desc">景點編號降冪</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <input type="search" id="inputKeyword" placeholder="景點搜尋" class="form-control" />
        </div>
    </div>
</div>
<div class="btn-group mb-2 d-flex" role="group" id="divCategory">
</div>
<div id="divSpot" class="row row-cols-1 row-cols-md-3 g-4">
</div>

@section Styles {
    <style>
        .pagination li {
            cursor: pointer;
        }

        .currentPage {
            background-color: lightblue;
        }

        .imgSize {
            height: 215px;
        }

        .custom-height {
            height: 50px;
        }
    </style>
}

@section Scripts {
    <script>
        const divSpot = document.querySelector('#divSpot');
        const ulPaging = document.querySelector('#ulPaging');
        const inpSearch = document.querySelector('#inputKeyword');
        const divCategory = document.querySelector('#divCategory');
        const pageSize = document.querySelector('#pageSize');
        const sortType = document.querySelector('#sortType');

        const searchData = {
            "categoryId": 0,
            "keyword": "",
            "page": 1,
            "pageSize": 9,
            "sortType": "asc",
            "sortBy": ""
        };

        //pageSize select事件監聽
        pageSize.addEventListener('change', async (event) => {
            // 獲取選擇的值
            const pSize = event.target.value;
            searchData.pageSize = pSize;
            loadSpots();
        });

        //sortType select事件監聽
        sortType.addEventListener('change', async (event) => {
            // 獲取選擇的值
            const sortT = event.target.value;
            searchData.sortType = sortT;
            loadSpots();
        });

        //根據searchData讀取景點資料
        const loadSpots = async () => {
            const response = await fetch('@Url.Content("~/api/Spots")', {
                'method': 'POST',
                'body': JSON.stringify(searchData),
                'headers': {
                    'Content-Type': 'application/json'
                }
            });

            const spots = await response.json();

            //載入景點     JSon
            const htmlSpots = spots.spotsResult.map(spot => {
                return (`
                            <div class="col">
                                <div class="card h-100">
                                    <img src="${spot.spotImage}" class="card-img-top imgSize" alt="${spot.spotTitle}">
                                    <div class="card-body">
                                        <h5 class="card-title">${spot.spotId} ${spot.spotTitle}</h5>
                                        <p class="card-text">${spot.spotDescription.length <= 100 ? spot.spotDescription : spot.spotDescription.substring(0, 100)}...</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-body-secondary">${spot.address}</small>
                                    </div>
                                </div>
                            </div>
                         `)
            })

            divSpot.innerHTML = htmlSpots.join("")

            //產生分頁按鈕
            const pageArray = Array.from({ length: +spots.totalPages }, (_, index) => index + 1);
            const htmlPaging = pageArray.map(page => {
                if (page > 10) return;
                if (page === 1) {
                    return (`
                                <li class="page-item" onclick="pagingHandler(${page})">
                                <a class="page-link currentPage"> ${page}</a>
                                </li>
                             `)
                } else {
                    return (`
                                <li class="page-item" onclick="pagingHandler(${page})">
                                    <a class="page-link"> ${page}</a>
                                </li>
                            `)
                }
            });

            ulPaging.innerHTML = htmlPaging.join("");

        };


        (async () => {
            const response = await fetch('@Url.Content("~/api/SpotCategories")');
            const categories = await response.json();

            //產生分類按鈕
            const htmlCategory = categories.map(c => {
                return (`
                            <input type="radio" class="btn-check " name="btnradio" id="btnradio${c.categoryId}" onclick="categoryHandler(${c.categoryId})">
                            <label class="btn btn-outline-primary flex-grow-1 text-center d-flex align-items-center custom-height" for="btnradio${c.categoryId}">${c.categoryName}</label>
                        `)
            });

            divCategory.innerHTML = htmlCategory.join("");
        })();


        //分頁
        const pagingHandler = async (page) => {
            searchData.page = page;
            await loadSpots();

            //設定分頁按鈕背景色
            const links = ulPaging.querySelectorAll('.page-link');
            links.forEach((a, index) => {
                a.classList.remove('currentPage');
                if (+a.textContent === page) {
                    a.classList.add('currentPage');
                }
            });
        };

        //類別篩選
        const categoryHandler = async (categoryId) => {
            searchData.categoryId = categoryId;
            await loadSpots();
        };

        //搜尋
        inpSearch.addEventListener('keydown', event => {
            //console.log(event.which); 輸出按鍵的數字
            if (event.keyCode === 13) {
                searchData.keyword = event.target.value;
                searchData.categoryId = 0;
                searchData.page = 1;
                loadSpots();
                clearRadioButtons('divCategory');
            }
        });

        //取消radio選擇
        function clearRadioButtons(containerId) {
            var radios = document.querySelectorAll(`#${containerId} input[type='radio']`);
            radios.forEach(radio => {
                radio.checked = false;
            });
        }


        //載入景點
        loadSpots();

    </script>
}